platform/Windows/Build
platform/Windows/x64
eduke32.exp
eduke32.lib
mapster32.exp
mapster32.lib

obj/

eduke32
mapster32
voidsw
voidsw-editor
kenbuild
kenbuild-editor
apps/
*.exe
/*.dll
*.dylib
*.so
*.elf
*.dol
*.x86
*.x64
*.ppc
*.app

*.log
*.cache
*.cfg
textures

*.manifest
/*.map
/platform/Windows/*.map
*.pdb
.vs/
*.VC.db
*.VC.opendb
*.sym
/*.con
/platform/Windows/*.con
*.memmap
*.sdf
*.suo
*.opensdf
*.vcxproj.user
*.psess
*.vsp
perl.exe.stackdump

xcuserdata/
project.xcworkspace/
*.dSYM/

.DS_Store
!platform/Windows/eduke32.vcxproj.user